// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.latex-document-outline {
  .message {
    white-space: nowrap;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    ul {
      list-style-type: none;
      padding-left: 15px;

      i.octicon.caret {
        font-family: 'Octicons Regular';
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        font-size: 12px;
        width: 12px;
        height: 12px;
        border-top: none;
        cursor: pointer;
      }

      .hidden {
        display: none;
      }

      i.octicon.chevron-down::before {
        content: "\f0a3";
      }

      i.octicon.chevron-right::before {
        content: "\f078";
      }

      li.subsubsection {
        font-size: @font-size;
      }
      li.subsection {
        font-size: @font-size * 1.1;
      }
      li.section {
        font-size: @font-size * 1.2;
      }
      li.chapter {
        font-size: @font-size * 1.3;
      }
      li.part {
        font-size: @font-size * 1.5;
      }
    }
  }
}
